<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error <%=ErrorCode%> </title>
</head>
<body>
 <h1 id="404"><%= ErrorCode%></h1>
 <a herf="https://Roblox-Tools.errorbotthe2nd.repl.co/randomlink">
</body>
</html>

